@{
    ViewBag.PageTitle = "Admin";
}
<h2>
    Admin</h2>
<ul>
    <li>
        @Html.ActionLink("New Post", "Post")
    </li>
    <li>
        @Html.ActionLink("New Image", "UploadImage")
    </li>
    <li>
        @Html.ActionLink("Edit Posts", "EditPosts")
    </li>
    <li>
        @Html.ActionLink("Edit Images", "EditImages")
    </li>
</ul>
