.tagcloud {
  margin-top: 1em;
}
.tagcloud .weight-1 {
  font-size: 0.7em;
}
.tagcloud .weight-2 {
  font-size: 0.9em;
}
.tagcloud .weight-3 {
  font-size: 1em;
}
.tagcloud .weight-4 {
  font-size: 1.1em;
}
.tagcloud .weight-5 {
  font-size: 1.3em;
}
